@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
:root {
    --color-darkblue: #1b1b32;
    --color-white: #f3f3f3;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    font-size: 1.125rem;
    color: var(--color-white);
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
        url(../img/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.container {
    text-align: center;
    margin: 0 auto;
}
.main {
    max-width: 720px;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
#title {
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
#description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 1.75rem;
    font-size: 1.125rem;
}

/* Survey form */

#survey-form {
    background: var(--color-darkblue-alpha);
    border-radius: 0.25rem;
    padding: 40px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    position: relative;
}
.servey-form__group {
    text-align: left;
    margin: 0 auto 2rem auto;
}
.form-group {
    display: block;
    width: 100%;
    background: #fff;
    color: #495057;
    height: 2.375rem;
    margin-bottom: 1.25rem;
    padding: 0.25rem;
    margin: 0 auto 1.25rem auto;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: inherit;
}
.choise {
    position: absolute;
    top: -2px;
    left: 25px;
}
.label-second {
    font-size: 0.9rem;
    color: #e4e4e4;
    margin-left: 0.25rem;
}
